.header {
    background-color: white;
    box-shadow: 0 0.7px 2.2px rgba(0, 0, 0, 0.02), 0 1.8px 5.3px rgba(0, 0, 0, 0.028), 0 3.4px 10px rgba(0, 0, 0, 0.035), 0 6px 17.9px rgba(0, 0, 0, 0.042), 0 11.3px 33.4px rgba(0, 0, 0, 0.05), 0 27px 80px rgba(0, 0, 0, 0.07);
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
}

a {
    margin: 5px;
}

#content {
    padding: 100px;
    margin: 0 auto;
    height: 100%;
    @if localStorage.getItem('token') {
        background-color: white;
    }
    max-width: 1200px;
}

#login-form,
#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 70px auto;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0 2px 3.8px rgba(0, 0, 0, 0.024), 0 5.6px 10.4px rgba(0, 0, 0, 0.035), 0 13.6px 25px rgba(0, 0, 0, 0.046), 0 45px 83px rgba(0, 0, 0, 0.07);
}

input,
button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

label {
    margin-top: 30px;
}

button {
    border: none;
    background-image: linear-gradient( #ac74ec, #3669d8);
    width: 50%;
    padding: 15px;
    color: white;
    font-weight: bold;
    margin-top: 70px;
    font-size: 18px;
    margin: 40px auto;
}

button:hover {
    cursor: pointer;
}

.invalidCredentials,
.error {
    color: rgb(214, 5, 5);
    font-size: 18px;
    font-weight: bold;
}

table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 20px;
}

th {
    background-color: rgb(229, 231, 252);
}

table {
    margin: 30px auto;
}

.errorMessage {
    color: rgb(238, 0, 0);
    text-align: start;
    padding: 0 5px;
}