body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-attachment: fixed;
    background-image: linear-gradient( to bottom, hsla(253.92, 87.41%, 71.96%, 0.46) 0%, hsla(253.55, 86.78%, 71.85%, 0.459) 8.1%, hsla(252.49, 85.02%, 71.54%, 0.458) 15.5%, hsla(250.77, 82.35%, 71.05%, 0.456) 22.5%, hsla(248.38, 79.01%, 70.42%, 0.453) 29%, hsla(245.29, 75.22%, 69.67%, 0.45) 35.3%, hsla(241.45, 71.17%, 68.82%, 0.446) 41.2%, hsla(236.97, 68.2%, 66.77%, 0.442) 47.1%, hsla(232.39, 66.14%, 63.96%, 0.438) 52.9%, hsla(227.9, 64.53%, 60.97%, 0.434) 58.8%, hsla(223.61, 63.42%, 57.85%, 0.43) 64.7%, hsla(219.63, 62.78%, 54.66%, 0.427) 71%, hsla(216.07, 62.62%, 51.49%, 0.424) 77.5%, hsla(213.04, 66.78%, 48.49%, 0.422) 84.5%, hsla(210.77, 74.38%, 46.01%, 0.421) 91.9%, hsla(209.83, 78.17%, 44.9%, 0.42) 100%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
    height: 100%;
}